 @use"../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
about{
    display: flex;
    h3{
        color: $primary-color;
    }
    p{
        opacity: 50%;
    }
    .more{
        background-color: #F4F7FB;
    }
    
    }
