@use"../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
address{
    .container{
        .help{
        p{
            opacity: 50%;
        }
    }.third{
        background-color: #F4F7FB;
    }
    h2 {
        color: $primary-color;

    }
    .none{
        display: flex;
        justify-content: space-between;
    }
}
}