@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
section {
    display: flex;
    padding-block-start: 5%;
    

.hero{
        .heroleft{
            @include flex( space-between, center);
            display:flex; 
            padding-block-start: 10%;          
            }
            
        }

        .heromiddle{
            @include flex( space-between, center);
            padding-block-start: 10%;
            .first{
                background-color: #F4F7FB;
                padding: 10px;
                border-radius: 10px;
                .font{
                    background-color: #000;
                    border-radius: 50px;
                    width: 50%;
                    @include flex(center,center,row)
                }
            }

        }
        .heroright{
            @include flex(center, center)    
            
        }

    }
