@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
nav {
  background-color: $light-grey;
  .nav {
    @include flex(space-between, center);
  }
  .nav-center {
    ul {
      display: flex;
      li {
        a {
          padding: 10px;
          text-transform: capitalize;
          display: inline-block;
          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }



  .nav-right {
    @include flex( space-between,center);
    fa-bars{
        // display: inline-block;
        display:none
    
    }
  }
}
// media quaries
@media screen and (max-width:600px){
    .nav-center{
        display: none;
    }
    .fa-bars{
        display: none;
    }

}
