@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
menu{
  margin-right: 20%;
    .flavours{
        display: inline-flex;
        gap: 50px;
        ul {
            display: flex;
           
            li {
              a {
                padding: 10px;
                text-transform: capitalize;
                display: inline-block;
                &:hover {
                  background-color: $primary-color;
                  color: white;
                }
              }
            }
          }
          .taste{
            border-bottom: solid grey;
            justify-content: space-between;
          
          }
    }
    .price{
        display: flex;
         justify-content: space-between;
         margin-bottom: 15px;
        .p2{
          background-color: #F4F7FB;
          
        }
        .p3{
          background-color: #F4F7FB;
        }
        .p4{
          background-color: #F4F7FB;
        }
        .p5{
        background-color: #F4F7FB;
        }
        button{
            background-color: #000;
            color: white;
            padding: 10px;
        }
    }
}